{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 text-center pos-vertical-center">
        <h1 class="">404</h1>
        <h2 class="">The page you were looking for was not found.</h2>
        <a class="" href="/dashboard">Go back to the dashboard</a>
        <br>
        <small>
            If you feel like this is a mistake please email your
            <a href="mailto:chat@chatsumlin.com?subject=FetchMe Points System Error">admin</a>
        </small>
    </div>
    <div class="col-xs-3"></div>
</div>

{% endblock content%}
