{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <h1>Employee Bonus Points<br /></h1>
    <h2>Login</h2>
    <div class="">
        <form method="post" action="">
            <div class="container">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="">Login</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </div>
        </form>
        <!-- Side navigation -->
        <div class="sidenav">
          <img src="https://media.licdn.com/dms/image/C4E0BAQEff2J2QldzVQ/company-logo_200_200/0?e=2159024400&v=beta&t=AWXTo4w74-pfIduiFpMxWoENJGPMQqvfS9dH43gEshA" alt="HTML5 Icon" style="width:160px;height:128px;">
        </div>

        <!-- Page content -->
        <div class="main">

        </div>
    </div>
{% endblock content %}