{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <!-- Side navigation -->
    <div class="sidenav">
        <img src="https://www.fetchmedelivery.com/editable/templates/default/images/logo.png" alt="FetchMe Logo"
             style="width:230px; margin: 10px 10px 0 10px;" class="img-responsive">
    </div>
    <div class="page-content">
        <h1>Employee Bonus Points</h1>
        <form method="post" action="">
            <div class="container">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="">Login</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </div>
        </form>
    </div>
{% endblock content %}